.coverage
coverage.xml
__pycache__
app.conf
secrets/
.autopilot
.DS_Store
.idea/
static/search/
static/search_index.json
storage/benchmarks/
data
resources/agb-csv.csv
resources/zakl.xml
resources/zal.xml
